{:database-url "jdbc:sqlite:sample.db"
 #_"jdbc:p6spy:mysql://localhost:3306/red_db?user=root&password=root&useSSL=false&autoReconnect=true&useUnicode=true&characterEncoding=UTF-8&serverTimezone=Hongkong"
 ;;:datasource
 #_{:driver-class-name "com.p6spy.engine.spy.P6SpyDriver"
    ;;:jdbc-url     "jdbc:p6spy:h2:./demo"
    :jdbc-url    "jdbc:p6spy:mysql://localhost:3306/red_db?user=root&password=root&useSSL=false&autoReconnect=true&useUnicode=true&characterEncoding=UTF-8&serverTimezone=Hongkong"
    }
 :red-db
 {:logic-delete? true
  :logic-delete-field :delete_flag
  :logic-delete-value true
  :logic-not-delete-value false
  ;;:insert-fill-filed-fn red-db.core-test/insert-fille-fileds
  ;;:update-fill-filed-fn red-db.core-test/update-fille-fileds
  ;;:logic-delete-exclude-tables [:t_user]
  ;;:result-set-builder next.jdbc.result-set/as-unqualified-kebab-maps
  }}
